@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*CATE*/

.owl-carousel, .owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative;
	transition:all 0.5s ease
}

.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1;
	position:relative
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}
.owl-carousel .owl-item img {
	display: inline-block;
	max-width: 100%
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: none
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
	display: block
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}
.owl-carousel.owl-hidden {
	opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}
.owl-carousel.owl-drag .owl-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab
}
.owl-carousel.owl-rtl {
	direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
	float: right
}
.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
	z-index: 0
}
.owl-carousel .owl-animated-out {
	z-index: 1
}
.owl-carousel .fadeOut {
	animation-name: fadeOut
}
@keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
.owl-height {
	transition: height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .4s ease
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}
.owl-theme .owl-nav {
	margin-top: 10px;
}
.owl-next{left:52px}
.owl-prev{left:0px}
.owl-theme .owl-nav [class*=owl-] {
	color: #9B9B9B;
	margin: 0px;
	display: inline-block;
	cursor: pointer;
	font-size:24px; transition:all 0.5s ease;
	position:absolute;
	top:0; width:52px; height:52px; text-align:center; line-height:52px; background: #fff
}
.owl-theme .owl-nav [class*=owl-]:hover {
	text-decoration: none; background:#F0CB9D !important; color: #000
}
.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 3px;
	background: #fff;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
	transition:all 0.5s ease
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #F0CB9D; 
}
.owl-theme .owl-dots{position: absolute; left: 0; right: 0; bottom: 0}

.slider-container{position: relative; display: block; text-align: center}
.slider-container .item{height: 323px; line-height: 323px; background: transparent; border: inherit}
.slider-container .item img{max-width: 100%; max-height: 100%}
.slider-container .slider .content img{width: 100%;}
.slider-container .slider-controls a{position: absolute; top: 45%; z-index: 100; color: #333333;}
.slider-container .slider-controls a.slider-left{left: -25px;}
.slider-container .slider-controls a.slider-right{right: -25px;}
.thumbnail-slider-container{margin-top: 5px; width:65%; margin:auto}
.thumbnail-slider .content{padding:5px;}
.thumbnail-slider .owl-item{cursor: pointer;}
.thumbnail-slider .owl-item.active.center{border: 3px solid #333333; }
.thumbnail-slider .owl-item .item{height:100px; width:100px; overflow:hidden; text-align: center; border-radius: 100%; padding: 10px;}
.thumbnail-slider .owl-item .item img {max-width: 100%; max-height: 100%}


/*CATE*/


/*SORT*/

.sel {
  display: inline-block;
  margin: 0;
  width: 153px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #BEBEBE
}

.sel::before {
  position: absolute;
  content: '\f107';
  font-family: 'FontAwesome';
  font-size: 22px;
  color: #000;
  right: 0px;
  top: calc(50% - 16px);
}

.sel.active::before {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-size: 14px;
  color: #000;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #F0CB9D;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  -webkit-animation: fadeInUp 500ms;
          animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-size: 14px;
  color: #000;
  padding: 0.5em 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #d6b58c;
}

.sel--black-panther {
  z-index: 11;
}

.sel--superman {
/*   display: none; */
  z-index: 2;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*SORT*/


/*ACCORDION*/

.accord {
  border: 1px solid #BEBEBE;
  border-radius: 0px;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
  border-width: 0px 0 1px;
}

.accord:first-child {
  margin-top: 0;
}

.accord:hover {
  border-color: #aaa;
}

.accord__head, .accord__body {
  padding: 10px 0px;
}
.accord__head{padding: 17px 0px}
.accord__head {
  cursor: pointer;
  margin: 0;
  padding-right: 50px;
  position: relative;
  font-size: 16px; text-transform: uppercase; color: #000
}

.accord__head::after {
  content: "\f107";
  position: absolute;
  right: 20px;
  margin-top: -14px;
  top: 50%;
  transition: all .5s ease;
  font-family: 'FontAwesome'; color: #454545; font-size: 24px
}

.accord__body ul li {
  display: block; margin-bottom: 5px
}
.accord__body ul li a{color: #000; font-size: 15px; transition: all 0.5s ease}
.accord__body ul li a:hover{padding-left: 7px; color: #d0af86}

.accord.is-open > .accord__head::after {
  content: "\f106";
}
.dec .accord.is-open .accord__head{font-weight: 600; }

.filter h3{font-size: 18px; text-transform: uppercase; color: #000; font-weight: 600; margin-bottom: 40px}
.pc-list{padding: 50px 0 0}
.pc-list h4{text-align: center; color: #000; font-size: 21px; margin-bottom: 40px}
.pc-list h4 span{color: #4D4D4D; font-size: 14px}
.pc-lft{float: left; width: 50%}
.pc-lft h5{font-size: 15px; color: #000; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; margin:30px 0 10px 10px}
.pc-lft h6{font-weight: 600; color: #000; font-size: 15px; margin-left: 10px}
.pc-list ul li{margin-bottom: 30px}

/*ACCORDION*/


/*CHECKBOX*/

.label--checkbox{
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer; font-size: 16px; color: #7b7878
}

.checkbox {
  position: relative;
  top: 1px;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 12px;
  height: 12px;
  background: #F0CB9D;
  border-radius: 100%;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: -2px;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #F0CB9D;
  cursor: pointer; border-radius: 100%
}

/*CHECKBOX*/




/*PANEL_RIGHT*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
	padding: 60px 0 0;
}

.sidenav .filter{padding:0 35px}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
	color: #333;
}

.flt-xs{display:none}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*LOGIN*/



.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 111;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


.cd-user-modal-container {
  position: absolute;
  width: 90%;
  max-width: 800px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-100);
  -moz-transform: translateY(-100);
  -ms-transform: translateY(-100);
  -o-transform: translateY(-100);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden; left: 0; right: 0; top: 50%
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 0 auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 28px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../images/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("../images/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("../images/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 45px;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #f0cb9d;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #F0CB9D;
  color: #FFF;
  font-weight: 600;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;    font-family: 'Open Sans', sans-serif;text-transform: uppercase; font-size: 15px; transition: all 0.5s ease
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #292929;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em 2em 2em 0;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 14px 20px 13px 60px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 1em 2em 0;
  }
}

.cd-form-bottom-message {
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #727272;
  text-decoration: underline;
}

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url(../images/cd-icon-close.svg) no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}
.sup{text-align: center}
.sup a{color: #727272; font-size: 15px;}
.sup a span{color: #d8b181}
.cd-form h3{text-align: center}
.log-lft{height: 456px; object-fit: cover; object-position: left; width: 100%}


/*LOGIN*/

/*FOOTER*/

.accordion {
  position: relative;
}
[id*="open-accordion"], [id*="close-accordion"] {
}

[id*="close-accordion"] {
  display: none;
}
[id*="open-accordion"]:after, [id*="close-accordion"]:after {
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  right: 5px;
  top: 0px;
  z-index: 999;
   display:none; font-size: 20px; color: #000
}

.target-fix {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.accordion-content {
  height: auto;
  margin: 0 auto 0;
  padding: 10px 0 0;
  position: relative;
  overflow: hidden;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
}

.accordion span:target ~ .accordion-content {
  display: block;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}

.accordion span:target ~ [id*="close-accordion"] {
  display: block;
}

.accordion span:target ~ [id*="open-accordion"] {
  display: none;
}

.accordion span:target ~ [id*="close-accordion"]:after {
  transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  	.accordion-content {height:0}
	[id*="open-accordion"]:after, [id*="close-accordion"]:after{display:block}
	.accordion span:target ~ .accordion-content{padding-bottom:25px}
}


/*FOOTER*/


.crt{float: right; position: relative; z-index: 1}
.crt ul li{display: inline-block}
.crt ul li:last-child{background: #F0CB9D}
.crt ul li a{position: relative; padding: 37px 30px; display: block}
.crt ul li a img{height: 30px; display: inline-block}
.crt ul li a span{font-size: 16px; color: #000; margin-left: 10px; font-weight: 600}
.pc{padding: 80px 0; text-align: center} 
.pc h3{font-size: 24px; color: #000; margin-bottom: 15px}
.pc p{color: #4D4D4D; padding: 0 27%; margin-bottom: 50px}
.pc-img{height: 323px; text-align: center; padding: 20px; line-height: 283px; position: relative}
.pc-img img{max-width: 100%; max-height: 100%; transition: all 0.5s ease}
.pc ul li:hover .pc-img img, .list-sec ul li:hover .pc-img img, .item:hover .pc-img img{transform: scale(1.1)}
.pc ul li, .list-sec ul li{background: #F0CB9D; float: left; width: 33.333333%; border: 1px solid #F0CB9D;}
.pc ul li:nth-child(2n){background: #fff; border: 1px solid #EEEEEE;}
.item{background: #fff; border: 1px solid #EEEEEE}
.list-sec ul li:nth-child(2n){background: rgba(255, 255, 255, 0.43)}
.pc ul li figure, .list-sec ul li figure, .item figure{margin: 0}
.pc ul li figcaption, .list-sec ul li figcaption, .item figcaption{color: #000; position: relative; padding: 20px 10px 20px 80px; text-align: left;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.list-sec ul li{width: 50%; background: #fff; border-color: #DDDDDD}
.pc-crt{width: 60px; height: 60px; text-align: center; line-height: 60px; background: rgba(255, 255, 255, 0.19); position: absolute; left: 0; top: 0;}
.pc ul li:nth-child(2n) .pc-crt, .list-sec ul li .pc-crt, .item .pc-crt{background: rgba(240, 203, 157, 0.19);}
.pc-crt img{height: 28px}
.pc-img:before, .pc-img:after {content: "";top: 10px;right: 10px; bottom: 10px; left: 10px; position: absolute; z-index: 9; opacity: 0; transition: all 0.5s ease-in;}
.pc-img:before {border-top: 2px solid #FFF;border-bottom: 2px solid #FFF;transform: scale(0,1); transform-origin: center;}
.pc-img:after {border-left: 2px solid #FFF;border-right: 2px solid #FFF; transform: scale(1,0); transform-origin: center;}
.pc ul li:hover .pc-img:before, .pc ul li:hover .pc-img:after {opacity: 1;  transform: scale(1);}
.pc ul li:nth-child(2n) .pc-img:before, .pc ul li:nth-child(2n) .pc-img:after{border-color: #F0CB9D}
.list-sec ul li:hover .pc-img:before, .list-sec ul li:hover .pc-img:after, .item:hover .pc-img:before, .item:hover .pc-img:after{opacity: 1;  transform: scale(1);border-color: #F0CB9D}
.va{margin: 50px 0 0; display: inline-block}
.va a{font-size: 18px; color: #000; border-bottom: 1px solid #000; padding-bottom: 3px; transition: all 0.5s ease}
.va a:hover{letter-spacing: 2px}
.ofr-sec{padding: 50px 0; text-align: center}
.ofr-sec h3{font-size: 32px; color: #000; position: relative; margin: 0 0 120px}
.ofr-sec h3:before{position: absolute; left: 0; right: 0; margin: auto;top: -90px;width: 562px; height: 211px; background: url(../images/ofr.png) no-repeat;content: ""	}
footer{padding: 80px 0 50px;font-family: 'Open Sans', sans-serif;}
.ntr h4{font-size: 16px; color: #000; margin-bottom: 15px;    font-weight: 600;}
.ntr p{color: #727272;     font-size: 13px;}
.ntr .form-group{margin: 25px 0 50px}
.ntr .form-group img{position: absolute; left: 25px; top: 13px; width: 20px}
.ntr .form-control{border-radius: 45px; height: 42px; border-color: #707070; font-size: 14px; padding: 12px 60px; width: 93%}
.nws-btn{background: transparent; width: 43px; height: 42px; border: none; position: absolute; top: 0; right: 26px; cursor: pointer}
.nws-btn:before{position: absolute; left: 0; top: 0; height: 100%; border-radius: 45px; background: #F0CB9D; content: ""; width: 51px}
.ntr .form-group .nws-btn img{width: 43px; transition: all 0.5s ease}
.ntr .form-group .nws-btn:hover img{transform: translateX(5px)}
.ftr h4{font-size: 16px; color: #000; margin-bottom: 25px;    font-weight: 600;}
.ftr ul li{margin-bottom: 5px}
.ftr ul li a{font-size: 15px; color: #727272; display: block; transition: all 0.5s ease}
.ftr ul li a:hover{padding-left: 7px; color: #000}
.ftr{padding-left: 45px}
.ftr-btm{line-height: 53px; font-family: 'Open Sans', sans-serif;}
.ftr-lft{float: left; color: #000; font-size: 15px}
.ftr-rgt{float: right}
.ftr-rgt ul li{display: inline-block}
.ftr-rgt ul li a{display: block; padding: 0 3px}
.ftr-rgt ul li a img{width: 23px}
.wsmenucontainer{position: fixed; z-index: 111; top: 0; width: 100%; left: 0}
.sec1{background: rgba(235, 235, 235, 0.33); padding: 25px 0}
.sec1 ul li{float: left; width: 25%; text-align: center;  color: #000000; border-right: 1px solid rgba(112, 112, 112, 0.22); display: inline-block; cursor: pointer}
.sec1 ul li:last-child{border: none}
.sec1 ul li h4{margin: 0; display: inline-block;font-size: 16px; vertical-align: middle}
.ws, .ap, .fd, .so{margin-right: 15px; width: 43px; height: 51px; background: url(../images/ws.png) no-repeat; display: inline-block; transition: all 0.5s ease; vertical-align: middle}
.ap{width: 48px; height: 48px; background: url(../images/ap.png) no-repeat}
.fd{width: 62px; height: 45px; background: url(../images/fd.png) no-repeat}
.so{width: 54px; height: 44px; background: url(../images/so.png) no-repeat}
.sec1 ul li:hover .ws, .sec1 ul li:hover .ap, .sec1 ul li:hover .fd, .sec1 ul li:hover .so{background-position: bottom}
.slider{margin-top: 76px}
.main-sec{background: linear-gradient(to bottom, rgba(239,239,239,1) 1%,rgba(255,255,255,1) 40%); padding-bottom: 80px; margin-top: 76px}
.main-head{position: relative; text-align: center; color: #000; font-size: 45px; font-family: 'Niconne', cursive; padding: 50px 0 70px}
.main-head:before{position: absolute; left: 0; right: 0; margin: auto; width: 328px; height: 145px; background: url(../images/ofr.png) no-repeat; content: ""; background-size: contain; top: 25px}
.abt-sec h4{font-weight: 300; font-size: 24px; line-height: 36px; font-family: 'Open Sans', sans-serif; margin-bottom: 30px; color: #000}
.abt-sec p{line-height: 26px; color: #000; font-family: 'Open Sans', sans-serif;font-weight: 300; 	}
.abt-img{margin: 50px 0 0px}
.con-sec{width: 60%; margin: auto; text-align: center}
.con-sec ul li{float: left; width: 50%; padding: 25px 0;font-family: 'Open Sans', sans-serif;}
.con-sec ul li h4{color: #000; font-size: 18px; font-weight: 600}
.con-sec ul li a{color: #3E3E3E; font-size: 15px; font-weight: 400}
.list-sec{margin-bottom: 60px}
.srt{padding-bottom: 15px}
.srt-lft{float: left; font-size: 16px; color: #000}
.srt-rgt{float: right}
.pc-lft .pc-img{height: 127px; border: 1px solid #DDDDDD; width: 75%; line-height: 87px; float: left;}
.pc-lft .pc-crt{position: relative; width: 25%; height: 42px; float: left; line-height: 42px; background: #F0CB9D; top: 85px; left: -1px;}
.pc-lft .pc-crt img{height: 24px; transition: all 0.5s ease}
.pc-list ul li:hover .pc-img img{transform: scale(1.1)}
.di{padding: 60px 0; background: #F8F2EA; text-align: center}
.di h4{text-transform: uppercase; color: #000; font-size: 22px; margin-bottom: 15px; font-weight: 600;}
.di p{font-size: 16px; line-height: 34px; color: #000; padding: 0 21%; margin: 0}
.rp{padding: 80px 0 0}
.rp h3{text-align: center; font-size: 30px; margin-bottom: 40px; color: #000}
.rp .owl-theme .owl-nav [class*=owl-]{background: #EBEBEB; top: 167px}
.rp .owl-prev{left: -70px}
.rp .owl-next{right: -70px; left: inherit}
.det-sec{padding: 80px 0}
.det-sec h2{color: #000; font-size: 24px; margin:30px 0 10px}
.det-sec h6{color: #000; font-size: 16px; margin-bottom: 30px}
.det-sec h6 span{color: #4FBA17}
.ad-crt {padding: 30px 0}
.ad-crt ul li{display: inline-block; margin-right: 10px}
.ad-crt ul li a{padding:18px 46px; background: #F0CB9D; font-size: 15px; text-transform: uppercase; color: #000; display: block; font-weight: 600}
.ad-crt ul li input{background: #fff; border: 1px solid #BEBEBE; width: 57px; text-align: center; font-weight: 600; font-size: 16px; color: #000; height: 57px; padding: 12px 5px; position: relative; top: 3px;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none; margin: 0; }
.crt-img {margin-right: 20px; display: inline-block; width: 120px; border: 1px solid #F0CB9D; background: #fff}
.crt-img img {max-width: 100%; width: 100%; height: 100px; object-fit: contain; object-position: center; padding: 10px;}
.cart h4 {display: inline-block; font-size: 15px; text-transform: uppercase; font-weight: 600; line-height: 20px; margin: 0 }
.cart h4 span {font-size: 13px; text-transform: inherit; font-weight: 400 }
.cls img {width: 15px;}
.quantity input{width: 50px; border: none; height: 37px; text-align: center}
.btn-number{background: #fff; border-radius: 100%; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3)}
.cart ul{float: right}
.cart ul li{padding: 10px 0; border-bottom: 1px solid #F0CB9D; font-size: 18px; width: 300px;font-family: 'Open Sans', sans-serif;}
.cart ul li span{float: right; width: 30%; text-align: right}
.cart ul li:nth-last-child(2){font-weight: 600}
.cart ul li a, .check a{text-transform: uppercase; color: #fff; background: #F0CB9D; border-radius: 45px; display: block; padding: 8px 10px; text-align: center; font-weight: 600}
.cart ul li:last-child{border: none}
.check{background: #fff; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); padding: 40px 30px; border-radius: 10px; margin-bottom: 30px}
.check h3{font-size: 21px; color: #707070; margin-bottom: 20px}
.check .form-control{border-color: #F0CB9D; height: 53px; border-radius: 45px; padding: 12px 30px; font-size: 15px}
.check .form-control:focus{box-shadow: 0 0 0 0.2rem rgba(240, 203, 157, .25)}
.check .form-group{margin-bottom: 20px}
.check h4{font-size: 18px; margin-bottom: 30px}
.check ul li{padding: 15px 0; font-size: 14px; color: #000; border-bottom: 1px solid #F0CB9D;font-family: 'Open Sans', sans-serif;}
.check ul li:last-child{border: none; font-weight: 600;font-size: 16px;}
.check ul li .os-rgt{float: right; width: 30%; text-align: right; vertical-align: middle}
.check ul li .os-lft{float: left; width: 70%; padding-right: 10px; vertical-align: middle}
.check a{margin-top: 30px;font-family: 'Open Sans', sans-serif; font-size: 18px}
.pc-mob{display: none}




@media (min-width:993px) and (max-width:1024px) {
	
	.wsmenu-list>li>a{    padding: 31px 30px;}
	.crt ul li a{padding: 25px}
	.wsmenu-list>li>a:before{top: 32px}
	.tp-rightarrow.default{width: 5%}
	.tp-leftarrow.default{width: 5%; left: 90% !important}
	.rp .owl-next{right: -40px}
	.rp .owl-prev{left: -40px}
}


@media (min-width:768px) and (max-width:992px) {
	
	.crt{z-index: 111}
	.crt ul li a{padding: 17px 21px}
	.slider, .main-sec {margin-top: 66px;}
	.tp-rightarrow.default{width: 6%}
	.tp-leftarrow.default{width: 6%; left: 88% !important}
	.pc p, .di p{padding: 0}
	.pc ul{display: none}
	.pc-mob{display: block; padding: 0}
	.rp .owl-next{right: 0}
	.rp .owl-prev{left: 0}
	.ofr-sec{padding: 0}
	.main-head{padding: 50px 0 30px}
	.pc-img{height: 250px; line-height: 210px}
	.thumbnail-slider-container{width: 100%}
	.thumbnail-slider .owl-item .item{width: 90px; height: 90px}
	.quantity input{width: 38px}
	.btn{padding: 1px 6px}
}



@media (max-width:767px) {
	.pc-list, .pc ul, .filter-desktop, .srt-lft{display: none}
	.ofr-sec h3:before{background-size: contain; width: 100%; top: -30px}
	.sec1 ul li{width: 50%;height: 110px; border: 1px solid rgba(112, 112, 112, 0.22); border-width: 0 1px 1px 0; padding: 18px 0px;}
	.sec1 ul li:nth-child(2n){border-right: none}
	.sec1 ul li:nth-last-child(2){border-bottom:none}
	.ws, .ap, .fd, .so{margin: 0 auto 10px;}
	.sec1 ul li h4{display: block}
	.pc p, .ofr-sec, .di p{padding: 0}
	.ofr-sec h3{margin: 0 0 30px; font-size: 25px}
	.owl-theme .owl-nav [class*=owl-]{width: 35px; height: 35px; line-height: 35px; font-size: 20px}
	.owl-next {left: 35px;}
	.ftr-lft, .ftr-rgt{float: none; text-align: center; line-height: 20px; margin-bottom: 5px}
	.crt-img{margin-bottom: 10px}
	.main-head{padding: 50px 0 20px;}
	.list-sec ul li, .thumbnail-slider-container, .con-sec{width: 100%}
	.pc-img{height: 250px; line-height: 210px}
	.rp .owl-next{right: 0}
	.rp .owl-prev{left: 0}
	.thumbnail-slider .owl-item .item{width: 91px; height: 90px}
	.abt-sec h4{margin: 30px 0}
	.mt-5{margin-top: 0 !important}
	.con-sec ul li{width: 100%; padding: 10px 0}
	.crt{z-index: 111}
	.crt ul li a{padding: 22px 15px}
	.crt ul li a img{height: 19px}
	.crt ul li a span{font-size: 13px}
	.main-sec, .slider{margin-top: 66px}
	.tp-rightarrow.default{width: 10%; height: 40px}
	.tp-rightarrow.default:before, .tp-leftarrow.default:before{line-height: 40px}
	.tp-leftarrow.default{width: 10%; height: 40px; left: 80% !important}
	.pc-mob{display: block; padding: 0}
	.va{margin: 0}
	.ftr{padding-left: 0}
	.flt-xs{display:block; float: left; padding: 7px 25px; border: 1px solid #ccc;}
}





